.certificates-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f8f9fa;
  width: 75vw;
  position: relative;
  left: 20vw;
  bottom: 20vh;
}

.certificates-page h2 {
  margin-bottom: 20px;
}

.certificates-table {
  width: 80%;
  font-size: 1.2em;
}
