
.login-page{
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(44, 44, 44);
  gap: 10px;
}
.passwordInput{
    
}
.loginButton{
    position: relative;
    width: 7vw;
    margin-top: 20px;
}
.loginWindow{
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 45vh;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid grey;
  

  
}
.loginForm{
  gap: 50px;
  justify-content: space-between ;
  padding: 10px;
}
.usernameInput{
  margin-bottom: 20px;
}