.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #ffffff !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  left: 15vw !important ;
  width: 85vw !important;

  
}

.App-link {
  color: #61dafb;
}
.Button1 {
  position: relative;
  top: 20px;
  color: rgb(0, 0, 0);
  background-color: aqua;
  border-color: aqua;
  border-radius: 5vmin;
  min-height: 5vh;
  min-width: 10vw;
  transition: background-color 0.35s ease, border-color 0.35s ease;
  border: none;
  outline: none;
 
}
.Button1:hover {
  background-color: darkblue;
  border-color: darkblue;
  /* New background color on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
