.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profile-section {
  width: 60%;
  background-color: #f8f9fa;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.profile-section h4 {
  margin-bottom: 20px;
}

.profile-section div {
  margin-bottom: 10px;
}

.profile-section strong {
  display: inline-block;
  width: 150px;
}
