.sidebar {
    height: 100vh;
    /* Full height */
    width: 15vw;
    /* Sidebar width */
    position: fixed;
    /* Fixed sidebar (stay in place on scroll) */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* Stay at the left */
    background-color: rgb(56,68,84);
    /* Sidebar background color */
    padding-top: 20px;
    /* Padding at the top */
    font-size: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: column; 
}
.sidebar button {
    list-style-type: none;
    /* Remove default list styling */
    padding: 0;
    /* Remove padding */
    background-color: rgb(56,68,84);
    outline: none;
    border: none;
    height: 8vh;
    color: white;
}
.sidebar button:hover {
    background-color: rgb(56,60,76); 
}
.activeButton {
    background-color: rgb(46, 49, 64) !important; 
}
.logoutButton{
    position: fixed;
    margin-top: 75vh;
    align-self: center;
    width: 15vw;
}
.logo{
    width: 7vw;
    height: 7vw;
    align-self: center;
    margin-bottom: 5vh;
}
